
body {
    padding-bottom: 10px;
    background-color: #ccc;
}

.container {
    background-color: white;
    padding: 0 !important;
    margin-bottom: 30px;
}

.hero-img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
}

/* Blog Markdown Text Editor Overrides */

#div_id_publish > .controls {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 10px;
}

.wmd-panel {
    margin-left: 0 !important;
    margin-right: 0;
    width: 90% !important;
}

.wmd-wrapper {
    width: 90%;
}

.wmd-input {
    max-width: 90% !important;
}

#wmd-preview-id_content {
    display: none;
}

.wmd-button-bar {
    background-color: white !important;
}

.bootstrap-tagsinput {
    width: 100%;
}

.comment-reply {
    display: none;
}
