
body {
    padding-bottom: 10px;
    background-color: #ccc;
}

.navbar {
    margin-bottom: 0px !important;
}



.hero-img {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 30px;
}

.comment-reply {
    display: none;
}
