#page-footer {
    margin-top: 30px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;;
    background-color: #333;
    color: #ccc;
}

#page-footer a {
    color: #96A29F;
}

#page-footer a:hover {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 768px) {

    #page-footer {
        justify-content: left;
        padding-left: 15px;
        font-size: .9em;
    }

}