/* Blog Markdown Text Editor Overrides */

#div_id_publish > .controls {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 10px;
}

.wmd-panel {
    margin-left: 0 !important;
    margin-right: 0;
    width: 90% !important;
}

.wmd-wrapper {
    width: 90%;
}

.wmd-input {
    max-width: 90% !important;
}

#wmd-preview-id_content {
    display: none;
}

.wmd-button-bar {
    background-color: white !important;
}

.bootstrap-tagsinput {
    width: 100%;
}