/* Blog Markdown Text Editor Overrides */

#div_id_publish > .controls {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 10px;
}

.wmd-panel {
    margin-left: 0 !important;
    margin-right: 0;
    min-width: 100% !important;
}

#wmd-button-row-id_content{
    width: 100%;
    height: auto;
    padding-top: 5px !important;
}

.wmd-button, .wmd-spacer {
    position: initial !important;
}

#wmd-input-id_content {
    width: 100%;
}

#wmd-preview-id_content {
    display: none;
}

.wmd-button-bar {
    background-color: white !important;
}

.bootstrap-tagsinput {
    width: 100%;
}

.form-editor-pane {
    background-color: #cfcfcf;
    padding: 15px;
    border-radius: 10px;
}

.account-form-panel {
    padding: 15px;
    background-color: #424041;
    border: 2px solid #333;
    color: white;
    border-radius: 10px;
}

.controls > input {
    background-color: #222 !important;
    border-color: #111;
    color: white;
}
    /* color: white; */
}

.controls > textarea:focus, input:focus {
    color: white;
}

.account-form-btn {
    background-color: #424041 !important;
    background-image: linear-gradient(to bottom,#424041 0,#000 100%);
    border-color: black;
}