.thumbnail {
    background-color: rgba(0,0,0,0.3);
    /* background: inherit; */
    /* backdrop-filter: blur(7px); */
    /* background-color: #222021; */
    border: none;
}

.pager li>a {
    background-color: #222021;
    border-color: #363436;
    color: #D5CFCF;
}

.pager li>a:hover {
    color: #373736;
}

.img-post {
    object-fit: cover;
    width: 100% !important;
    /* height: 400px !important; */
}

.post-list-title {
    color: #fff;
    font-size: 1.6em;
}

.panel-white {
    background-color: #fdfdfd;
}

.panel-padding {
    padding: 10px;
}