
.panel {
    background-color: rgba(255,255,255,0.4) !important;
    /* background-color: #8F7870; */
}

.panel-default {
    border-color: #424041;
}

.panel-heading {
    background-color: #222021 !important;
    background-image: none !important;
    border-color: transparent !important;
    color: #F0ECE4 !important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;
    /* text-align: right; */
}

.page-heading {
    background-color: rgba(255,255,255,0.6);
    border-radius: 4px;
    padding: 10px;
    backdrop-filter: blur(7px);
    font-weight: 800;
}

.list-group-item {
    background-color: #333 !important;
    border-color: #222021;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 10px;
    -webkit-box-shadow: 4px 10px 8px -1px rgba(34,32,33,1);
    -moz-box-shadow: 4px 10px 8px -1px rgba(34,32,33,1);
    box-shadow: 4px 10px 8px -1px rgba(34,32,33,1);
}


.list-group-item a {
    color: #D5CFCF;
    transition: 0.1s all ease-in-out !important;
}

.list-group-item a:hover {
    color: #656E68;
}

.list-group-item a:focus {
    color: #fff;
}

/* .search-bar-query {
    background-color: rgba(0,0,0,0.8);
    border-color: black;
    color: white;
}

.search-bar-query textarea:focus, input:focus {
    color: white;
}

.input-group-btn > .btn {
    background-color: #424041 !important;
    background-image: linear-gradient(to bottom,#424041 0,#000 100%);
    border-color: black;
}

.input-group-btn > .btn i {
    color: white;
} */
