<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'posts:home' %}">The Good Blog</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">View Posts<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'posts:list' %}">View all</a></li>
                        <li role="separator" class="divider"></li>
                        {% for tag in tag_links %}
                        <li><a href="{% url 'posts:tag_view' tag.slug %}">By Tag: {{ tag|title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="#">About</a></li>
            </ul>
            <form id="search-bar-form" method="GET" action="" class="navbar-form navbar-left">
                <div class="input-group ">
                    <input id="search-bar-query" class="form-control" type="text" name="query"
                        placeholder="Search Posts" value="{{ request.GET.query }}" />
                    <span class="input-group-btn">
                        <button class='btn btn-default' type="submit"><i class="fa fa-search"></i></button>
                        <span class="sr-only">Search Posts</span>
                    </span>
                </div>
            </form>

            {% if not request.user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">My Account<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'posts:create' %}">Create Post</a></li>
                        <li><a href="#">View Profile</a></li>
                        <li><a href="#">View Comment History</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>