{% load static %}
{% load date_tags %}

<form method="GET" action="" class="search-bar-form panel panel-default card-shadow">
    <div class="input-group panel-body">
        <input class="search-bar-query form-control" type="text" name="query" placeholder="Search Posts"
            value="{{ request.GET.query }}" />
        <span class="input-group-btn">
            <button class='btn btn-default' type="submit"><i class="fa fa-search"></i></button>
            <span class="sr-only">Search Posts</span>
        </span>
    </div>
</form>

<div class="panel panel-default card-shadow">
    <div class="panel-heading">
        About Me
    </div>
    <div class="panel-body">
        <img class="img-responsive img-thumbnail" src="{% static 'img/profile2.jpg' %}" alt="profile" />
        <hr />
        <div class="well">
            <b>Hello there!</b> I'm a software engineer currently living in Portland, Oregon. This site is my first Django project and is a springboard for a lot of my experiments in learning more about the framework. Thank you for visiting!
        </div>
    </div>
</div>

<div class="panel-spacer"></div>

<div class="panel panel-default card-shadow">
    <div class="panel-heading">
        Recent Articles
    </div>
    <ul class="list-group panel-body">
        {% for post in recent_posts %}
        <li class="list-group-item"><a href="{{post.get_absolute_url}}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="panel-spacer"></div>

<div class="panel panel-default card-shadow">
    <div class="panel-heading">Popular Tags</div>
    <div class="panel-body">
        <div class="post-tag__container">
            {% for tag in tag_links %}
            <div class="post-tag">
                <a href="{% url 'posts:tag_view' tag.slug %}">{{ tag|title }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="panel-spacer"></div>

<div class="panel panel-default card-shadow">
    <div class="panel-heading">Archives</div>
    <div class="panel-body">
        <div class="row container-fluid">
            {% for archive in archives %}
            <div class="list-group-item"><a href="{% url 'posts:archive_view' slug_year=archive.date.year slug=archive.date.month %}">{{ archive.date.month|month_name }} {{ archive.date.year }} ({{ archive.count}} posts)</a></div>
            {% endfor %}
        </div>
    </div>
</div>