{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %}{{ instance.title }} | {{ block.super }}{% endblock head_title %}

{% block post_detail_link %}
<li><a href="{{ object.content_object.get_absolute_url }}">{{ object.content_object.title }}</a></li>
<li><a href="{{ object.get_absolute_url }}">Comment Thread</a></li>
<li>Delete</li>
{% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    <h1>Confirm Delete</h1>
        <p>{{ object.content }}</p>
        <footer>from {{ object.user }} | {{ object.timestamp|timesince}}}</footer>
        <hr />
        <div>
            <form method="POST" action="."> {% csrf_token %}
                <p>Are you sure you want to delete this post?</p>
                <input type="submit" value="Confirm" class="btn btn-warning">
                <a href="{{ object.get_absolute_url }}"" class="btn btn-default">Cancel</a>
            </form>
        </div>
</div>
{% endblock content %}