{% extends "__base.html" %}

{% block content %}

<h1>Recent Posts</h1>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for post in object_list %}
        <a href= "{{ post.get_absolute_url }}" class="{% if forloop.counter == 1%}item active{% else %}item{% endif %}">
          <img src="{{ post.image.url }}" class="img-responsive carousel-img" alt="{{post.title}}">
          <div class="carousel-caption">
            <h3>{{post.title}}</h3>
            <p>{{post.publish}}</p>
          </div>
        </a>
        {% endfor %}
    </div>
  
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <hr/>
  {% if pinned_posts %}
  <h1>Popular Posts</h1>
  {% for post in pinned_posts %}
    {{post.title}}
  {% endfor %}
  {% endif %}


{% endblock content %}