{% extends "__base.html" %}


{% block content %}
<div class="col-sm">
    {% if title %}
        <h1 class="page-heading card-shadow">{{ title }}</h1>
    {% endif %}
    {% include "_1_pagination.html" %}
    <div class="row">
        {% for obj in object_list %}
        <div class="col-sm-12">

                <div class="panel panel-default card-shadow post-card" data-aos="fade-right">
                    <div class="panel-heading">
                        <a class="post-list-title" href="{{obj.get_absolute_url}}">{{ obj.title }}
                    </div>
                    <div class="panel-body panel-white">
                        {% if obj.image %}
                        <a href="{{obj.get_absolute_url}}">
                        <img src="{{ obj.image.url }}" class="img-responsive img-post img-thumbnail" /></a>
                        {% endif %}
                        <div class="caption">
                            {% if obj.draft %}<h3>Staff only: Draft</h3>{% endif %}
                            <h3>
                                <small>Posted {{ obj.publish|timesince }} ago</small></a></h3>
                            {% if obj.publish > today %}<h3>Staff only: Future Post</h3>{% endif %}
                            {% if obj.user.get_full_name %}
                            <p>Author: {{ obj.user.get_full_name }}</p>
                            {% endif %}
                            {% if obj.comments %}{{ obj.comment_count }} comments
                            {% endif %}
                            <div class="post-detail-item">{{ obj.get_markdown|truncatechars_html:120 }}</div>
                            {% for tag in obj.tag_list %}
                            <div class="label label-primary tag-label">
                                <a href="{% url 'posts:tag_view' tag.slug %}">{{ tag|title }}</a>
                            </div>
                            {% endfor %}
                            <hr/>
                            <p>
                                <a href="{{ obj.get_absolute_url }}" class="btn btn-info" role="button">Read More</a>
                                {% if request.user == obj.user%}
                                <a href="{% url 'posts:post_update' obj.slug %}" class="btn btn-primary">Edit Post</a>
                                <a href="{% url 'posts:post_delete' obj.slug %}" class="btn btn-danger">Delete Post</a>
                                {% endif %}
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- {% cycle "" "</div><div class='row'>" %} -->
            {% endfor %}
        </div>
        {% include "_1_pagination.html" %}
    </div>
    {% endblock content %}